*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --text-color:#222;
    --subheading-color:#a0a0a0;
    --placeholder-color:#6c6c6c;
    --primary-color:#fff;
    --secondry-color:#E9EEF6;
    --secondry-hover-color:#dbe1ea;
}
body{
    background-color: var(--primary-color);
}
.header{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 25%;

}


.header .title{
    font-weight: 200;
    font-size: 48px;
    margin: auto;
    width: 600px;
    
}
.typing-area{
    width: 100%;
    margin: auto;
    margin-top: 200px;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 50px;
}
.input-wrapper{
    border: 1px solid #222;
    padding: .5rem;
    border-radius: 30px;
}
.input-wrapper input{
    width: 50vw; ;
    height: 20px;
    border-radius:10px ;
    border: none;
    padding-left: 16px;
    padding-bottom: 8px;
    
}
.input-wrapper input:focus{
    outline: none;
}
#send-message-button{
    border: none;
    background-color:#6c6c6c;
    border-radius: 50%;
    width: 50px;
    height:50px ;
    cursor:pointer ;
 
    box-sizing: border-box;
}
.chat-area{
    width: 800px;
    margin:100px auto;
    display: flex;
    flex-direction: column;
   
}
.chat{
    border:2px solid #dedede ;
    background-color: #f1f1f1;
    border-radius:5px ;
    padding: 10px;
    margin:10px 0 ;
}
.output{
    padding: 10px;
    margin:10px 0 ;
    border-color: #ccc;
    background-color: #ddd;
}

.user{
align-self: flex-end;
}
.Gemini{
    background: linear-gradient(to right,#4285f4,#d96570);
align-self: flex-start;
}
@keyframes transition  {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

.message{
     animation: transition 0.7s ease forwards ;
    background-color:#efefef ;
    margin-top: 5px;
    margin-bottom:5px ;
    width:fit-content ;
    padding: 1rem;
    border-radius: 1rem;
    
}
